.advantages {
    min-width: 470px;
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 75px;
        img {
            display: block;
            margin: 0 auto;
        }
        
    }
    &__text1 {
        margin-top: 38px;
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
        text-align: center;
    }
    &__text2 {
        margin-top: 25px;
        font-size: 14px;
        font-weight: 300;
        color: #0d0d0d;
        text-align: center;
        width: 247px;
        a {
        font-size: 14px;
        font-weight: 300;
        text-decoration: underline;
        color: #ff0000;
    }
    }

}