.consultation {
    min-height: 680px;
    padding: 100px 0px 92px 0px;
    background: url('../img/running_man.jpg') center (center/cover) no-repeat;
    &__descr {
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
    }
}